<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="layui-layout-body">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<div class="layui-layout layui-layout-admin">
    <div th:replace="main::header"></div>
    <div th:replace="main::sider"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-body" style="width: 500px;margin: 50px 10%">
            <!--此处加表格等显示内容-->
            <form class="layui-form" th:action="@{/user/addEmployee}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">员工id</label>
                    <div class="layui-input-block">
                        <input type="text"
                               name="empId"
                               autocomplete="off"
                               lay-verify="required"
                               placeholder="请输入id"
                               class="layui-input">
                    </div>
                    </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">员工姓名</label>
                    <div class="layui-input-block">
                        <input type="text"
                               name="empName"
                               lay-verify="required"
                               autocomplete="off"
                               placeholder="员工姓名"
                               class="layui-input">
                    </div>
                    </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text"
                               name="phone"
                               autocomplete="off"
                               lay-verify="pass"
                               placeholder="输入8-11位的手机号"
                               class="layui-input">
                    </div>
                    </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">生日</label>
                        <div class="layui-input-inline">                                                <!--日期格式化-->
                            <input type="text"
                                   name="birth"
                                   id="date"
                                   lay-verify="required"
                                   th:placeholder="点击此选择生日" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">部门</label>
                        <div class="layui-input-inline">
                            <select lay-verify="required" lay-search="" name="department.departmentId">
                                <option value="">请选择部门</option>
                                <option th:each="result : ${departments}"
                                        th:value="${result.getDepartmentId()}"
                                        th:text="${result.getDepartmentName()}"></option>
                            </select>
                        </div>
                    </div>
                    </div>
                <div class="layui-form-item">
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">单选框</label>
                        <div class="layui-input-block" >
                            <input type="radio"  value="男" name="gender"title="男" >
                            <input type="radio"  value="女"name="gender" title="女" checked="">
                        </div>
                    </div>
                    </div>
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
            </form>
        </div>
    </div>
    <div th:replace="main::footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 2) {
                    return '长度至少得2个字符啊';
                }
                if (value.length > 16) {
                    return '长度不能超过16个字符啊';
                }
            }
            , pass: [
                /^[\S]{8,11}$/
                , '电话号必须8到11位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

    });
</script>
</body>
</html>